<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @project.title %>
</p>

<p>
  <strong>Body:</strong>
  <%= @project.body %>
</p>

<p>
  <strong>Published:</strong>
  <%= @project.published %>
</p>

<p>
  <strong>Tracking:</strong>
  <%= @project.tracking_id %>
</p>

<p>
<%= image_tag @project.photo.url %>
<%= image_tag @project.photo.url(:medium) %>
<%= image_tag @project.photo.url(:thumb) %>
</p>

<%= link_to 'Edit', edit_project_path(@project) %> 
<%= link_to 'Back', projects_path %>
