<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @project.title %>
</p>

<p>
  <strong>Body:</strong>
  <%= @project.text %>
</p>

<%= link_to 'Edit', edit_project_path(@project) %> 
<%= link_to 'Back', :back %>
<%= link_to 'All Projects', projects_path %>
